.custom-card {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 50px;
    margin: 40px auto;
    gap: 40px; 
    height: 500px;
}

.desc h1 {
    font-size: 70px; 
    font-weight: bold; 
}

.desc h5 {
    font-size: 20px;
    font-style: italic;
    color: #555; 
}
